/* ====== responsive ====== */
/* ==== laptop ==== */
@media(max-width: 2000px) {
    .header .navbar .navbar-nav .logo-nav {
        display: none;
    }
}

@media(max-width: 1366px) {
    html {
        font-size: 75%;
    }

    section {
        padding: 5% 20px;
    }

    .header .navbar .navbar-nav .logo-nav,
    .header .navbar .navbar-nav .logo-nav {
        display: none;
    }
}

@media (max-width: 1168px) {
    html {
        font-size: 75%;
    }

}

/* ===== tablet ===== */
@media(max-width: 800px) {
    html {
        font-size: 62.5%;
    }

    .home.section {
        width: 90%;
    }

    .header .navbar {
        display: none;
    }

    .header .navbar .navbar-items a {
        display: none;
    }

    .header .navbar .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header .navbar.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    .logo-nav {
        margin: 5px;
    }

    /* === navbar nav styles === */
    .header .navbar .navbar-nav {
        display: none;
    }

    .header .navbar .navbar-nav .logo-nav {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }

    .header .navbar .navbar-nav .logo-nav a {
        color: #222;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: bolder;
        line-height: 1.5;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: 0.3s ease;
    }

    .header .navbar .navbar-nav .logo-nav a:hover {
        color: var(--hoverColor);
    }

    .header .navbar .navbar-nav .logo-nav a.active {
        color: var(--fo);
    }

    .header .navbar .navbar-nav .logo-nav a.active img {
        filter: brightness(0) invert(1);
    }

    .header .navbar .navbar-nav .logo-nav img {
        margin: 10px;
        width: 20px;
        display: block;
    }

    /* ==== Navbar nav active styles ==== */
    .header .navbar.active .navbar-nav {
        position: relative;
        background: var(--fos);
        width: 35rem;
        max-width: 100vh;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: left;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgba(1, 1, 1, 0.2);
        transition: 0.3s ease;
    }

    /* ==== hamburger menu styles ==== */
    .menu-btn {
        background: url(../asset/main-menu.png) no-repeat;
        background-size: 25px;
        background-position: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(../asset/cross.png) no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }

    /* ====== solar ====== */
    .main .solar .card {
        width: 200px;
    }

    .main .solar .card img {
        height: 250px;
    }

    /* ======= news ====== */
    .main .news {
        display: block;
    }

    /* ===== footer ===== */
    footer {
        padding: 30px 60px;
    }

    footer .footer-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }


    /* =========== MENU ABOUT ========== */
    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-image,
    .about-data {
        justify-self: center;
    }

    /* ============= menu gallery =================== */
    .gallery-item {
        width: calc(33.33% - 10px);
        height: 240px;
    }
}

@media (max-width: 600px) {

    /* ==== news ===== */
    .main .news .left-news {
        padding: 10px 0px;
    }

    .main .news .right-news .top-news .inner-news .img-news {
        width: 150px;
        height: 100px;
    }

    /* ===footer=== */

    footer {
        padding: 30px 60px;
    }

    footer .footer-container .sosmed li a {
        width: 20px;
        height: 20px;
    }

    footer .footer-container .sosmed li a img {
        width: 10px;
    }

}

@media (max-width : 500px) {

    /* ====section solar======= */
    .card {
        width: 150px;
    }

    .card img {
        height: 200px;
    }

    /* ===== footer ===== */
    footer .footer-container {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    footer {
        padding: 20px 30px;
    }

    /* detail gambar di menu search */
    .details-grid img {
        width: 100%;
        height: 200px;
    }

    .details-view {
        padding: 10%;
    }


}

/* ==== mobile divice ===== */

@media (max-width: 425px) {
    html {
        font-size: 45%;
    }

    /* ==== hamburger menu ==== */
    .menu-btn {
        background-size: 20px;
    }

    /* === logo header ==== */
    .user img {
        width: 30px;
        height: auto;
    }

    /* ==== news ==== */
    .main .news .left-news .img-news {
        width: 100%;
        height: 200px;
    }

    .main .news .right-news {
        height: 400px;
    }

    /* ==break== */
    .break {
        margin-top: -100px;
    }

    /* ==== gallery menu ==== */
    .gallery-item {
        width: calc(50% - 10px);
        height: 220px;
    }


}

@media (max-width: 350px) {
    html {
        font-size: 40%;
    }

    /* == hamburger menu === */
    .menu-btn {
        background-size: 17px;
    }

    /* === logo header === */
    .user img {
        width: 25px;
        height: auto;
    }

    /* ======== section solar ======== */
    .main .card {
        width: 120px;
    }

    .main .card img {
        height: 150px;
    }

    /* ====== section news ===== */
    .main .news .left-news .img-news {
        width: 100%;
        height: 210px;
    }

    .main .news .right-news .top-news .inner-news .img-news {
        width: 70px;
        height: 70px;
    }

}