body {
  background-color: black;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/76969/cold-front-warm-front-hurricane-felix-76969.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.container {
  text-align: center;
  margin-top: 15%;
  max-width: 1400px;
  transition: margin-top 0.3s ease;
}

/* class expanded di add dlm css ini berguna agar saat ada hasil search maka margin top berubah */
.container.expanded {
  margin-top: 10%;
}

.container h1 {
  font-size: var(--h1Fs);
  color: var(--fo);
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 1px 2px 2px rgba(82, 81, 81, 0.5);
  overflow: hidden;
}

/* untuk pencarian */
.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 5px 20px;
  border-radius: 50px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--fo);
}

.container .search-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-input {
  flex: 1;
  border: none;
  background: none;
  border: none;
  outline: none;
  font-size: var(--normalFs);
  transition: padding 0.3s ease;
}

.search-box:hover .search-input {
  padding: 7px;
}

.search-button>.icon-search {
  background: none;
  color: var(--foss);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.search-button>.icon-search:hover {
  background-color: none;
  color: var(--fo);
}

.content-search {
  padding: 5%;
}

/* utama */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.gallery p{
  color: var(--fo);
  padding: 5%;
  text-transform: uppercase;
  font-size: var(--normalFs);
  background-color: var(--op);
  border-radius: 8px;
  font-weight: var(--fontMed);
}

.gallery-item {
  position: relative;
  width: calc(25% - 10px); /* untuk laptop */
  height: 280px;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  color: var(--op);
  font-size: 1rem;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.gallery-item .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery-item:hover .info {
  opacity: 1;
}

.gallery-item h3 {
  margin: 0;
  font-size: 1.2em;
}

.gallery-item a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.gallery-item a:hover {
  text-decoration: underline;
  color: var(--op);
}

/* page */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  background-color: var(--fos);
  color: var(--op);
  border: 2px solid var(--fos);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
  font-size: var(--smallFs);
}

.pagination button:hover,
.pagination button:focus {
  background-color: var(--fo);
  border-color: var(--fo);
  color: #fff;
  transform: scale(1.05);
}

.pagination button.active {
  background-color: var(--fo);
  border-color: var(--fo);
  color: #fff;
}

/* responsive untuk page */
@media (max-width: 768px) {
  .pagination button {
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  .pagination {
    flex-wrap: wrap;
  }

  .pagination button {
    margin: 5px;
    padding: 6px 10px;
  }
}
/* end responsive */

/* detail img hasil pencarian */
.details-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.8);
  padding: 10% 15%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
}

.details-view .details-grid {
  max-width: 700px;
  margin: auto;
}

.details-grid img {
  width: 100%;
  height: 400px;
}

.hidden {
  display: none;
}

.details-data {
  margin-top: 10px;

}

.details-view h2 {
  margin-top: 0;
  color: var(--op);

}

.details-view p {
  margin: 10px 0;
  font-size: var(--normalFs);
  text-align: justify;
  font-weight: var(--fontMed);
  color: var(--op);

}

.details-view button {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px;
  background: none;
  color: var(--op);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.details-view button:hover {
  background-color: #0056b3;
}

/* Responsive  */
@media (max-width: 1024px) {
  .gallery-item {
    width: calc(33.33% - 10px);
  }
}

@media (max-width: 768px) {
  .gallery-item {
    width: calc(33.33% - 10px);
    height: 240px;
  }
}

@media (max-width: 480px) {
  .gallery-item {
    width: calc(50% - 10px);
    height: 200px;
  }
  .details-grid img {
    height: 250px;
  }

}
@media (max-width: 375px) {
  .gallery-item{
    height: 150px;
  }
  .details-grid img {
    height: 200px;
  }
}

/* end */